<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" rel="stylesheet">
    <title>Lastmangenemnt Server</title>
</head>
<body>
<nav th:replace="fragments/header.html :: header"></nav>
<div class="container">
    <div class="row-cols-1 pt-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">&Uuml;bersicht</a></li>
                <li class="breadcrumb-item"><a th:href="@{/consumers}">Verbraucher</a></li>
                <li aria-current="page" class="breadcrumb-item active" th:text="${consumer.getName()}"></li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <h1>Bearbeiten von <span th:text="${consumer.getName()}"></span></h1>
    </div>
    <form method="post" th:action="@{/consumer/edit/{id}(id=${consumer.getConsumerID()})}" th:object="${consumer}">
        <div class="row p-1">
            <div class="col-2"><input class="btn btn-primary" th:type="submit"></div>
            <div class="col-2"><input class="btn btn-danger" th:type="reset"></div>
        </div>
        <div class="row">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col">Attribut</th>
                    <th scope="col">Wert</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Name</td>
                    <td><input class="form-control" required th:field="*{name}" th:type="text"/></td>
                </tr>
                <tr>
                    <td>Anschluss</td>
                    <td>
                        <select class="form-control" th:field="*{anschluss}">
                            <option th:each="an : ${anschlusse}"
                                    th:text="${an.getName()}"
                                    th:value="${an.getId()}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Verbrauch in A</td>
                    <td><input class="form-control" required th:field="*{currentLoad}" th:type="text"/></td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
    <footer th:replace="fragments/footer.html :: footer"></footer>
</div>
</body>
</html>